h1 {
  color: green;
  font-size: 2em;
}



/*  
  от 0 до 2260пикселей делай это и применяй только для экранов
*/
@media screen and (max-width: 2260px) {
  h1 {
    color: red;
    font-size: 100px;
  }
}

/*
  ОТ 768 пикселей и до 1920 пикселей применяй эти стили 
*/
@media (min-width: 768px) and (max-width: 1920px) {
  h1 {
    color: violet;
  }
}



/*  
  от 2261 и до бесконечности делай это и применяй только для экранов
*/
@media (min-width: 2261px) {
  h1 {
    color: blue;
    font-size: 100px;
  }
}
