* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background:black;
  padding: 20px;
}
.card {
  margin: 100px 100px;
  display: inline-block;
  width: 400px;
  background: limegreen;
  border-radius: 20px;
  overflow: hidden;
  /* white-space: nowrap;
  text-overflow: ellipsis; */
}

.card-header {
  background: linen;
  text-align: center;
  padding: 20px 0;
}

.card-header-name {
  font-size: 40px;
  font-weight: bold;
}

.card-main {
  padding: 20px;
  color: white;
}

.img-wrapper {
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
}

.img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.card-main-text {
  margin-bottom: 20px;
  text-align: justify;
}

.columns-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.column {
  display: inline-block;
}

.column + .column {
  margin-left: 20px;
}

.column-count {
  font-weight: bold;
  font-size: 24px;
}

.column-text {
  font-size: 20px;
  text-transform: capitalize;
}

.btn-container {
  text-align: center;
}

.btn {
  max-width: 150px;
  text-transform: capitalize;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}

.btn-follow {
  background: cornflowerblue;
  color: white;
}

.btn-message {
  margin-left: 20px;
}