@import "./reset.css";
@import './fonts.css';


h1 {
  font-size: 32px;
  /* font-weight: 900; */
  /* font-style: italic; */

  font-family: "Abracadabra";
  font-weight: 600;
  font-style: italic;
}
