

.nav-list {
  font-size: 0;
}

.nav-list-item {
  display: inline-block;
  font-size: 16px;
  background: yellowgreen;
  border: 1px solid;
  position: relative;
}

.nav-list-item:hover {
  background: green;
}

.sub-nav-list {
  position: absolute;
  /* width: 100%; */
  display: none;
  /* left: 0;
  right: 0; */
}

.nav-list-item:hover > .sub-nav-list  {
  display: inline-block;
}

.link {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  color: white;
}
